.Button__wrapper {
  padding: 1rem;
}
.Button {
  background: rgba(0,0,0,0.6);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  box-shadow: 0px 0px 0px transparent;
  margin: 20px 20px 20px 20px;
  color: #131313;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover, &:focus {
    box-shadow: 0px 0px 0px transparent;
    border: 2px solid #BFC0C0;
    text-shadow: 0px 0px 0px transparent;
    transform: skew(0, 3deg);
  }

  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all .45s ease-Out;
  }

  .spin-effect {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
  }

  &:hover .spin-effect {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #BFC0C0;
    transform: rotate(80deg);
  }

  &:hover a {
    color: #2D3142;
  }
}