@import 'theme/base.scss';

.Icon {
  padding: 0.5rem;
  position: relative;
  z-index: 1000;
  &.small {
    height: 16px;
    width: 16px;
  }
  &.medium {
    height: 32px;
    width: 32px;
  }
  &.large {
    height: 64px;
    width: 64px;
  }
  &.xlarge {
    height: 128px;
    width: 128px;
  }
};