@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

// Colors
$white: #FEFEFE;
$black: #131313;

$primary: #7DC7F0;
$secondary: #51F056;
$warning: #FFCE55;
$alert: #FF5E4B;
