@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.App {
  background: #333;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Open Sans', sans-serif;
}